/* 
|--------------------------------------------------------------------------   
|   Default Laravel CSS
|--------------------------------------------------------------------------
|   @tailwind base;
|   @tailwind components;
|   @tailwind utilities;
 */

/* 
|   CSS Reset
 */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    line-height: calc(1em + 0.5rem);
    -webkit-font-smoothing: antialiased;
    /* min-height: 100vh; */
}

picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}

/* input,
button,
textarea,
select {
    font: inherit;
} */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

@media (prefers-reduced-motion: no-preference) {
    :has(:target) {
        scroll-behavior: smooth;
        scroll-margin-top: 4rem;
    }
}