html {
    color-scheme: light;
    /* block-size: 100%; */

    --background-surface: hsl(0, 0%, 93%);
    --background-surface-invert: hsl(0, 0%, 7%);

    --red: 0;
    --green: 0;
    --blue: 0;

    --red-invert: 255;
    --green-invert: 255;
    --blue-invert: 255;

    --black-rgb: rgb(var(--red), var(--green), var(--blue));
    --white-rgb: rgb(var(--red-invert), var(--green-invert), var(--blue-invert));

    /* 
    State
     */

    --hover-overlay: rgba(var(--red), var(--green), var(--blue), 0.06);
    --selected-overlay: rgba(var(--red), var(--green), var(--blue), 0.08);
    --dragged-overlay: rgba(var(--red), var(--green), var(--blue), 0.08);
    --focus-overlay: rgba(var(--red), var(--green), var(--blue), 0.12);
    --activated-overlay: rgba(var(--red), var(--green), var(--blue), 0.12);
    --pressed-overlay: rgba(var(--red), var(--green), var(--blue), 0.16);

    --hover-solid-overlay: color-mix(in srgb, var(--black-rgb) 6%, var(--white-rgb));
    --selected-solid-overlay: color-mix(in srgb, var(--black-rgb) 8%, var(--white-rgb));
    --dragged-solid-overlay: color-mix(in srgb, var(--black-rgb) 8%, var(--white-rgb));
    --focus-solid-overlay: color-mix(in srgb, var(--black-rgb) 12%, var(--white-rgb));
    --activated-solid-overlay: color-mix(in srgb, var(--black-rgb) 12%, var(--white-rgb));
    --pressed-solid-overlay: color-mix(in srgb, var(--black-rgb) 16%, var(--white-rgb));

    --divider-border: 0.0625rem solid rgba(var(--red), var(--green), var(--blue), 0.12);
    --divider-color: rgba(var(--red), var(--green), var(--blue), 0.12);

    /* 
    Typography
     */

    --font-family: 'Roboto', 'Arial', sans-serif;

    --color-focus: hsl(0, 0%, 0%);
    --color-active: hsl(0, 0%, 13%);
    --color-inactive: hsl(0, 0%, 40%);
    --color-disabled: hsl(0, 0%, 62%);

    --color-accent: hsl(231, 99%, 59%);
    --color-accent-hover: hsl(231, 99%, 65%);
    --color-accent-selected: hsl(231, 99%, 67%);
    --color-accent-focus: hsl(231, 99%, 71%);
    --color-accent-pressed: hsl(231, 99%, 75%);

    --font-h1: normal normal 300 6rem/1em var(--font-family);
    --letter-spacing-h1: -0.09375rem;
    --font-h2: normal normal 300 3.75rem/1em var(--font-family);
    --letter-spacing-h2: -0.03125rem;
    --font-h3: normal normal 400 3rem/1em var(--font-family);
    --letter-spacing-h3: 0;
    --font-h4: normal normal 400 2.125rem/1em var(--font-family);
    --letter-spacing-h4: 0.015625rem;
    --font-h5: normal normal 400 1.5rem/1em var(--font-family);
    --letter-spacing-h5: 0;
    --font-h6: normal normal 500 1.25rem/1em var(--font-family);
    --letter-spacing-h6: 0.009375rem;
    --font-subtitle-1: normal normal 400 1rem/1em var(--font-family);
    --letter-spacing-subtitle-1: 0.009375rem;
    --font-subtitle-2: normal normal 500 0.875rem/1em var(--font-family);
    --letter-spacing-subtitle-2: 0.00625rem;
    --font-body-1: normal normal 400 1rem/1em var(--font-family);
    --letter-spacing-body1: 0.03125rem;
    --font-body-2: normal normal 400 0.875rem/1em var(--font-family);
    --letter-spacing-body2: 0.015625rem;
    --font-button: normal normal 500 0.875rem/1em var(--font-family);
    --letter-spacing-button: 0.078125rem;
    --font-caption: normal normal 400 0.75rem/1em var(--font-family);
    --letter-spacing-caption: 0.025rem;
    --font-overline: normal normal 400 0.625rem/1em var(--font-family);
    --letter-spacing-overline: 0.09375rem;

    /* 
    Elevation
     */

    --white-layer: 50%;

    --elevation-overlay-1: rgba(255, 255, 255, 0.05);
    --elevation-overlay-2: rgba(255, 255, 255, 0.07);
    --elevation-overlay-3: rgba(255, 255, 255, 0.08);
    --elevation-overlay-4: rgba(255, 255, 255, 0.09);
    --elevation-overlay-6: rgba(255, 255, 255, 0.11);
    --elevation-overlay-8: rgba(255, 255, 255, 0.12);
    --elevation-overlay-12: rgba(255, 255, 255, 0.14);
    --elevation-overlay-16: rgba(255, 255, 255, 0.15);
    --elevation-overlay-24: rgba(255, 255, 255, 0.16);

    --elevation-solid-overlay-1: color-mix(in srgb, rgb(255, 255, 255) calc(var(--white-layer) + 5%), var(--background-surface));
    --elevation-solid-overlay-2: color-mix(in srgb, rgb(255, 255, 255) calc(var(--white-layer) + 7%), var(--background-surface));
    --elevation-solid-overlay-3: color-mix(in srgb, rgb(255, 255, 255) calc(var(--white-layer) + 8%), var(--background-surface));
    --elevation-solid-overlay-4: color-mix(in srgb, rgb(255, 255, 255) calc(var(--white-layer) + 9%), var(--background-surface));
    --elevation-solid-overlay-6: color-mix(in srgb, rgb(255, 255, 255) calc(var(--white-layer) + 11%), var(--background-surface));
    --elevation-solid-overlay-8: color-mix(in srgb, rgb(255, 255, 255) calc(var(--white-layer) + 12%), var(--background-surface));
    --elevation-solid-overlay-12: color-mix(in srgb, rgb(255, 255, 255) calc(var(--white-layer) + 14%), var(--background-surface));
    --elevation-solid-overlay-16: color-mix(in srgb, rgb(255, 255, 255) calc(var(--white-layer) + 15%), var(--background-surface));
    --elevation-solid-overlay-24: color-mix(in srgb, rgb(255, 255, 255) calc(var(--white-layer) + 15%), var(--background-surface));

    --elevation-box-shadow-1: 0 0.125rem 0.0625rem -0.0625rem rgba(0, 0, 0, 0.2), 0 0.0625rem 0.0625rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 0.1875rem 0 rgba(0, 0, 0, 0.12);
    --elevation-box-shadow-2: 0 0.1875rem 0.0625rem -0.125rem rgba(0, 0, 0, 0.2), 0 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 0.3125rem 0 rgba(0, 0, 0, 0.12);
    --elevation-box-shadow-3: 0 0.1875rem 0.1875rem 0.125rem rgba(0, 0, 0, 0.2), 0 0.1875rem 0.25rem 0 rgba(0, 0, 0, 0.14), 0 0.0625rem 0.5rem 0 rgba(0, 0, 0, 0.12);
    --elevation-box-shadow-4: 0 0.25rem 0.313rem 0 rgba(0, 0, 0, 0.14), 0 0.063rem 0.625rem 0 rgba(0, 0, 0, 0.12), 0 0.125rem 0.25rem -0.063rem rgba(0, 0, 0, 0.20);
    --elevation-box-shadow-6: 0 0.375rem 0.625rem 0 rgba(0, 0, 0, 0.14), 0 0.063rem 1.125rem 0 rgba(0, 0, 0, 0.12), 0 0.188rem 0.313rem -0.063rem rgba(0, 0, 0, 0.20);
    --elevation-box-shadow-8: 0 0.5rem 0.625rem 0.063rem rgba(0, 0, 0, 0.14), 0 0.188rem 0.875rem 0.125rem rgba(0, 0, 0, 0.12), 0 0.313rem 0.313rem -0.188rem rgba(0, 0, 0, 0.20);
    --elevation-box-shadow-12: 0 0.4375rem 0.5rem -0.25rem rgba(0, 0, 0, 0.20), 0 0.75rem 1.0625rem 0.125rem rgba(0, 0, 0, 0.14), 0 0.3125rem 1.375rem 0.25rem rgba(0, 0, 0, 0.12);
    --elevation-box-shadow-16: 0 1rem 1.5rem 0.125rem rgba(0, 0, 0, 0.14), 0 0.375rem 1.875rem 0.313rem rgba(0, 0, 0, 0.12), 0 0.5rem 0.625rem -0.313rem rgba(0, 0, 0, 0.20);
    --elevation-box-shadow-24: 0 1.5rem 2.375rem 0.188rem rgba(0, 0, 0, 0.14), 0 0.563rem 2.875rem 0.5rem rgba(0, 0, 0, 0.12), 0 0.688rem 0.936rem -0.438rem rgba(0, 0, 0, 0.20);

    &[data-theme=dark] {
        color-scheme: dark;

        --background-surface: hsl(0, 0%, 4%);
        --background-surface-invert: hsl(0, 0%, 96%);

        --red: 255;
        --green: 255;
        --blue: 255;

        --red-invert: 0;
        --green-invert: 0;
        --blue-invert: 0;

        --color-focus: hsl(0, 0%, 100%);
        --color-active: hsl(0, 0%, 87%);
        --color-inactive: hsl(0, 0%, 60%);
        --color-disabled: hsl(0, 0%, 38%);

        --color-accent: hsl(231, 100%, 77%);
        --color-accent-hover: hsl(231, 100%, 83%);
        --color-accent-selected: hsl(231, 100%, 85%);
        --color-accent-focus: hsl(231, 100%, 89%);
        --color-accent-pressed: hsl(231, 100%, 93%);

        --white-layer: 0%;
    }

    canvas,
    iframe,
    img,
    svg,
    video {
        filter: grayscale(0.3);

        &:is(:hover, :focus) {
            filter: grayscale(0);
        }
    }

    &:has(nav[popover]:popover-open:not(dialog)) header {
        box-shadow: var(--elevation-box-shadow-4);
        translate: 0;

        .overlay {
            background: var(--elevation-solid-overlay-4);
        }
    }
}

/* @supports not (color-scheme: dark) {
    html[data-theme=dark] {
        background: #212121
    }
} */

/* 
CSS Reset
 */

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    font: var(--font-body-2);
    letter-spacing: var(--letter-spacing-body-2);
    color: var(--color-active);
    -webkit-font-smoothing: antialiased;
    background-color: var(--background-surface);
    /* line-height: calc(1em + 0.5rem); */
    /* min-height: 100vh; */
}

picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    font-style: italic;
    background-repeat: no-repeat;
    background-size: cover;
    shape-margin: 1rem;
}

:where(svg:not([fill])) {
    fill: var(--color-active);
}

/*  
 input,
 button,
 textarea,
 select {
     font: inherit;
 }
  */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    line-height: calc(1em + 0.5rem);
}

p {
    text-wrap: pretty;
    padding: 0.75rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

i {
    font-style: italic;
}

strong {
    font-weight: 500;
}

p {
    &.center {
        text-align: center;
    }
}

:has(:target) {
    scroll-margin-top: 4rem;
}

a {
    text-decoration: none;

    &:focus-visible {
        outline: none;
        text-decoration: underline;

        svg {
            fill: var(--color-focus);
        }
    }
}

button {
    background: none;
    border: none;

    &:focus-visible {
        outline: var(--divider--border);
        outline-offset: 0;
        text-decoration: underline;

        svg {
            fill: var(--color-focus);
        }
    }

    &#theme-toggle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 3rem;
        width: 100%;
        padding: 0 1rem;
        gap: 1rem;

        &:hover>svg {
            background: var(--hover-overlay);
        }

        &:focus>svg {
            background: var(--focus-overlay);
        }

        &:focus-within>svg {
            background: var(--pressed-overlay);
        }

        &>svg {
            stroke-linecap: round;
            flex-shrink: 0;
            padding: 0.5rem;
            flex-basis: 2rem;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
        }
    }
}

a,
button {
    cursor: pointer;

    &:is(.text-button, .outlined-button) {
        color: var(--color-accent);

        &:hover:not(:disabled) {
            background: var(--hover-overlay);
        }

        &:focus:not(:disabled) {
            background: var(--focus-overlay);
        }

        &:disabled {
            color: var(--color-disabled);
            cursor: not-allowed;
        }

        &:active:not(:disabled) {
            background: var(--pressed-overlay);
        }
    }

    &:is(.outlined-button, .contained-button) {
        &:has(svg, img) {
            padding: 0 1rem 0 0.75rem;
        }
    }

    &:is(.text-button, .outlined-button, .contained-button) {
        font: var(--font-button);
        letter-spacing: var(--letter-spacing-button);
        text-transform: uppercase;
        border-radius: 0.25rem;
        min-width: 4rem;
        max-width: 100%;
        height: 2.25rem;
        line-height: 2.25rem;
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        flex-shrink: 0;
        padding: 0 1rem;

        svg {
            vertical-align: middle;
            margin-right: 0.5rem;
        }
    }

    &.outlined-button {
        border: var(--divider-border);
    }

    &.contained-button {
        color: var(--white-rgb);
        background: var(--color-accent);
        box-shadow: var(--elevation-box-shadow-2);

        svg {
            fill: var(--white-rgb);
        }

        &:hover:not(:disabled) {
            background: var(--color-accent-hover);
        }

        &:focus:not(:disabled) {
            background: var(--color-accent-focus);
            box-shadow: var(--elevation-box-shadow-8);
        }

        &:disabled {
            color: var(--color-disabled);
            background: var(--focus-solid-overlay);
            cursor: not-allowed;

            svg {
                fill: var(--color-disabled);
            }
        }

        &:active:not(:disabled) {
            color: var(--color-accent-focus);
            background: var(--color-accent-focus);

            svg {
                fill: var(--white-rgb);
            }
        }
    }
}

svg {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    vertical-align: middle;
}

/* 
Inline SVG Style
 */

#inline-svg-icon {
    display: none;

    & .sprite {
        display: inline-block;
    }
}

/* 
Skip Navigation Link Style
 */

a.jump-to-main-content {
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 50%;
    z-index: 1100;
    box-shadow: var(--elevation-box-shadow-2);
    background: var(--elevation-solid-overlay-2);
    border-radius: 0 0 0.25rem 0;
    translate: -50% -150%;

    &:hover {
        box-shadow: var(--elevation-box-shadow-8);
        background: var(--elevation-solid-overlay-8);
    }

    &:focus {
        translate: -50% 0;
    }
}

/* 
Header Style
 */

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    overflow: hidden;

    :is(.overlay, .header-column, .title-header) {
        display: flex;
        align-items: center;
    }

    .overlay {
        height: 3rem;
    }

    button:not(:empty) {
        padding: 0.75rem;
        margin: 0;
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background: var(--hover-overlay);
        }

        &:focus {
            background: var(--focus-overlay);
        }

        &:focus-within {
            background: var(--pressed-overlay);
        }

        &:has(img) {
            padding: 0.25rem;

            img {
                width: 2.5rem;
                aspect-ratio: 1;
            }
        }
    }

    .header-column:first-child {
        flex: 1;
        min-width: 0;

        button {
            anchor-name: --main-navigation-toggle;
            flex-shrink: 0;
        }
    }

    .header-column:last-child {
        margin-left: auto;

        a {
            margin-right: 0.5rem;
        }

        button[popovertarget=app-navigation] {
            anchor-name: --app-navigation-toggle;
        }

        button[popovertarget=user-navigation] {
            anchor-name: --user-navigation-toggle;
        }
    }

    .title-header {
        font: var(--font-h6);
        letter-spacing: var(--letter-spacing-h6);
        display: block;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        img {
            width: 2rem;
            margin-right: 0.5rem;
            aspect-ratio: 1;
        }
    }

    [data-theme=dark] & {
        img.svg {
            filter: invert(0.9);
        }
    }

    :is(.scrolled-up, .scrolled-down) & {
        box-shadow: var(--elevation-box-shadow-4);

        .overlay {
            background: var(--elevation-solid-overlay-4);
        }
    }

    .scrolled-down & {
        translate: 0 -4rem;
    }
}

nav[popover] {
    border: none;
    border-radius: 0.25rem;
    box-shadow: var(--elevation-box-shadow-8);
    overflow-y: auto;
    max-height: calc(100dvh - 3.5rem);
    min-width: 7rem;
    max-width: 20rem;
    display: flex;
    flex-flow: column;
    padding: 0.5em 0;
    background: var(--elevation-solid-overlay-8);

    .menu {

        &.flex {
            display: flex;
            justify-content: space-evenly;
            align-content: space-evenly;
            flex-flow: row;
            flex-wrap: wrap;
            gap: 0.25rem;
            max-width: 32rem;

            a {
                width: 6rem;
                text-align: center;
                padding: 0.25rem;
                font: var(--font-caption);
                letter-spacing: var(--letter-spacing-caption);
                font-weight: 500;
                border-radius: 0.25rem;
                height: revert;
                line-height: revert;
                vertical-align: revert;

                svg {
                    width: 3.5rem;
                    height: 3.5rem;
                    display: block;
                    margin: 0.5rem auto;
                }
            }
        }
    }

    li {

        a,
        button {
            padding: 0 1rem;
            font: var(--font-body-1);
            letter-spacing: var(--letter-spacing-body1);
            display: inline-block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: var(--color-active);
            height: 3rem;
            line-height: 3rem;
            vertical-align: middle;
            width: 100%;
            text-align: left;

            svg.menu-icon {
                margin-right: 1rem;
            }

            svg {

                &:last-child:not(.menu-icon) {
                    transform: rotate(-90deg);
                }
            }

            &+ul {
                /* display: none; */
                /* visibility: hidden; */
                position: absolute;
                top: -200vh;
                left: -200vw;
            }

            &:hover {
                background: var(--hover-overlay);
            }

            &:focus {
                background: var(--focus-overlay);
                color: var(--color-focus);
            }

            &[aria-current=page] {
                background: var(--pressed-overlay);
            }
        }

        &:has(:focus-within, a[aria-current=page]) {
            /* &:focus-within { */
            border-top: var(--divider--border);
            border-bottom: var(--divider--border);

            &>button,
            >a {
                font-weight: 500;
                color: var(--color-focus);

                &+ul {
                    /* display: block; */
                    /* visibility: visible; */
                    position: static;

                    a {
                        padding: 0 1rem 0 3.5rem;
                    }
                }

                svg {

                    &:last-child:not(.menu-icon) {
                        transform: rotate(0deg);
                    }
                }
            }
        }
    }

    &:has(:focus-within, :hover) {
        box-shadow: var(--elevation-box-shadow-16);
        background: var(--elevation-solid-overlay-16);
    }

    #main-navigation-footer {
        margin-top: auto;

        .separator {
            font: var(--font-overline);
            letter-spacing: var(--letter-spacing-overline);
            border-top: var(--divider-border);
            padding: 1rem 1rem 0.5rem;
            color: var(--color-inactive);
            font-weight: 500;
        }
    }
}

:is(#main-navigation, #app-navigation, #user-navigation)[popover] {
    display: none;
    opacity: 0;
    inset: unset;

    &:popover-open:not(dialog) {
        display: flex;
        opacity: 1;
        translate: 0 0;

        @starting-style {
            opacity: 0;
            translate: var(--translate-starting-style, 0 0);
        }
    }
}

#main-navigation[popover] {
    top: anchor(--main-navigation-toggle bottom);
    left: 0;
    margin: 0.5rem 0 0;
    --translate-starting-style: -120% 0;
    translate: var(--translate-starting-style);
    height: calc(100dvh - 3.5rem);
}

:is(#app-navigation, #user-navigation)[popover] {
    margin: 0.5rem 0 0 auto;
    --translate-starting-style: 0 -120vh;
    translate: var(--translate-starting-style);
    left: 1rem;
    right: 1rem;
}

#app-navigation[popover] {
    top: anchor(--app-navigation-toggle bottom);
}

#user-navigation[popover] {
    top: anchor(--user-navigation-toggle bottom);
}

#main-content,
footer {
    padding: 1rem;
}

#banner {
    display: flex;
    align-items: center;
    gap: .5rem 1rem;
    position: sticky;
    top: 3.5rem;
    flex-wrap: wrap;
    background: var(--elevation-solid-overlay-1);
    box-shadow: var(--elevation-box-shadow-1);
    margin: -1rem;
    padding: 1rem 1rem 0.5rem;

    .scrolled-down & {
        top: 0;
    }

    p {
        flex-basis: 24ch;
        flex-grow: 1;
    }

    &>:is(svg, img) {
        width: 2.5rem;
        height: 2.5rem;
        flex-shrink: 0;
    }

    button {
        margin-left: auto;
    }
}

footer {}

/* 
Screen Breakpoint
 */

@media screen and (min-width:64rem) {
    html {
        --right-sidebar-max-width: min(26.4%, 15rem);
    }

    header {
        position: fixed;
        left: calc(100% - var(--right-sidebar-max-width));
        right: 0;
        border-radius: 2rem 0 0 2rem;
        box-shadow: var(--elevation-box-shadow-4);
        background: var(--elevation-solid-overlay-4);

        .scrolled-down & {
            translate: 0 0;
        }

        .header-column:first-child {
            button {
                display: none;
            }

            .title-header {
                margin-left: 1rem;
            }
        }
    }

    #main-navigation[popover] {
        top: 3rem;
        left: calc(100% - var(--right-sidebar-max-width));
        right: 0;
        bottom: 0;
        display: flex;
        opacity: 1;
        translate: 0 0;
        border-radius: 2rem 0 0 0;
        z-index: 10000;
        width: var(--right-sidebar-max-width);
    }

    #main-content,
    footer {
        margin-right: var(--right-sidebar-max-width);
    }

    #banner {
        top: 0;
        margin: 0;
        border-radius: .25rem;
    }
}

/* 
Animation Style
 */

@media (prefers-reduced-motion: no-preference) {
    @keyframes rotateInfinite {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }
    }

    html {
        --standard-easing: cubic-bezier(0.4, 0.0, 0.2, 1);
        --decelerated-easing: cubic-bezier(0.0, 0.0, 0.2, 1);
        --accelerated-easing: cubic-bezier(0.4, 0.0, 1, 1);
    }

    :has(:target) {
        scroll-behavior: smooth;
    }

    a.jump-to-main-content {
        transition: translate 0.25s var(--standard-easing);
    }

    header {
        transition: translate 0.3s var(--accelerated-easing);

        .title-header>a>img {
            animation: rotateInfinite 3s linear infinite;
        }
    }

    nav[popover] {
        transition-property: display, opacity;
        transition-duration: 0.25s;
        transition-timing-function: var(--accelerated-easing);
        transition-behavior: allow-discrete;
    }

    .sun-and-moon {
        &>.sun {
            transition: transform 0.5s var(--standard-easing);
        }

        &>.sun-beams {
            transition:
                transform 0.5s var(--decelerated-easing),
                opacity 0.5s var(--decelerated-easing);
        }

        [data-theme="dark"] & {
            &>.sun {
                transition-timing-function: var(--accelerated-easing);
                transition-duration: 0.25s;
            }

            &>.sun-beams {
                transform: rotateZ(-25deg);
                transition-duration: 0.15s;
            }
        }
    }

    .banner {
        transition: top 0.3s var(--accelerated-easing);
    }
}

/* 
Printing Media Style
 */

@media print {
    @page {
        margin: 0;
    }

    [data-print=block] {
        display: block;
    }

    [data-print=flex] {
        display: flex;
    }

    [data-print=grid] {
        display: grid;
    }

    [data-print=inline] {
        display: inline;
    }

    [data-print=none] {
        display: none;
    }
}